.invitation-buttons {
  padding: 0.5rem 1rem !important;
  font-size: 1.25rem !important;
  color: white !important;
  width: 200px;
}

.already-accepted-invite {
  font-size: 25px;
  text-align: center;
  margin-top: 20px;
  color: #212529;
}

.invitationMessage {
  font-size: 25px;
  margin-top: 20px;
}

.invitationBody.alreadyAccepted {
  font-size: 25px;
  text-align: center;
  margin-top: 20px;
  color: #212529;
}
.invitationBody {
  text-align: left;
  font-size: 16px;
  color: #2c3e50;
}
