.invalid {
  border: 2px solid red;
}

.watermark {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 50px;
}

.question {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px 10px;
}

.question .markdown img {
  width: 250px;
  display: block;
  margin: auto;
}
