NODE_ENV=development
VITE_ENV=dev
VITE_API_HOST=http://localhost:8000/
VITE_ADMIN_PANEL_HOST=http://localhost:3000/
VITE_SECURE_LOCAL_STORAGE_HASH_KEY=ML_SECURE
VITE_SECURE_LOCAL_STORAGE_PREFIX=ML_SECURE
VITE_IV_LENGTH=16
VITE_BUILD_VERSION=dev-build
VITE_MIXPANEL_TOKEN=env-key
VITE_LAUNCHDARKLY_CLIENT_ID=env-key

VITE_SENTRY_DSN=env-key
VITE_SENTRY_TRACE_PROPAGATION_TARGETS="['localhost', 'any-domain.com']"

VITE_DD_APP_ID=7b4fea5b-07e7-4485-8ec4-87f864191e50
VITE_DD_CLIENT_TOKEN=pubf10b5ef30b579361798ba7155c5a9f83
VITE_DD_VERSION=local
VITE_DD_TRACING_URLS=http://localhost:5173

PLAYWRIGHT_BASE_URL=https://web-uat.cmiml.net
PLAYWRIGHT_API_BASE_URL=https://api-uat.cmiml.net
PLAYWRIGHT_USER_EMAIL=CHANGEME
PLAYWRIGHT_USER_PASSWORD=CHANGEME
PLAYWRIGHT_ADMIN_USER_EMAIL=CHANGEME
PLAYWRIGHT_ADMIN_USER_PASSWORD=CHANGEME

# Mixpanel Analytics
REACT_APP_MIXPANEL_TOKEN=
REACT_APP_MIXPANEL_FORCE_ENABLE=false
