.option-tooltip {
  width: 20px;
}

.option-tooltip,
.tooltip-icon {
  margin-right: 5px;
  margin-top: 2px;
}

.option-image {
  height: 25px;
  width: 25px;
  object-fit: cover;
  margin-right: 10px;
}

.form-check-width {
  max-width: calc(100% - 60px);
}
