.response-option {
  display: flex;
  align-items: flex-start;
  margin: 10px 0px;
  border-radius: 5px;
  padding: 7px 5px;
}

.response-option:first-child {
  margin-top: 0px;
}

.option-tooltip {
  width: 20px;
}

.option-tooltip,
.tooltip-icon {
  margin-right: 5px;
  margin-top: 2px;
}

.option-image {
  height: 25px;
  width: 25px;
  object-fit: cover;
  margin-right: 10px;
}

.form-check-width {
  max-width: calc(100% - 60px);
}
