@use "../../../app/bootstrap-override.scss" as variables;

.default-input {
  height: 56px;
}

.input-with-icon-wrap {
  position: relative;
}

.input-icon {
  position: absolute;
  top: 0;
  right: 0;

  width: 56px;
  height: 56px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.input-icon:hover {
  cursor: pointer;
}

.input-error-box {
  display: flex;
  justify-content: start;
  align-items: flex-start;

  height: 32px;
  margin: 0px 14px;

  font-size: 14px;
  color: variables.$validation-red;
}

.input-error-shadow {
  border-color: rgba(186, 26, 26, 0.8);
  box-shadow: 0 0 0 0.2rem rgba(186, 26, 26, 0.25);
  outline: 0 none;
}
