@use "../../../app/bootstrap-override.scss" as variables;

.system-message-box {
  min-height: 32px;
  max-height: 56px;
  padding: 4px 0px;
}

.system-message-label {
  font-size: 14px;
}

.success-message {
  color: variables.$green;
}

.failed-message {
  color: variables.$validation-red;
}
