@font-face {
  font-family: "ibm_plex_sansregular";
  src: url("../assets/fonts/ibmplexsans-regular-webfont.eot");
  src: url("../assets/fonts/ibmplexsans-regular-webfont.eot?#iefix") format("embedded-opentype"),
    url("../assets/fonts/ibmplexsans-regular-webfont.woff2") format("woff2"),
    url("../assets/fonts/ibmplexsans-regular-webfont.woff") format("woff"),
    url("../assets/fonts/ibmplexsans-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  font-family: "ibm_plex_sansregular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.content-container {
  background-image: url("https://images.unsplash.com/photo-1517483000871-1dbf64a6e1c6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
  background-size: cover;
  flex-grow: 1;
  position: relative;
}

a {
  text-decoration: none;
  color: #005fa3;
}
