@use "../../../app/bootstrap-override.scss" as variables;

.loginForm {
  max-width: 400px !important;
  padding: 10px;
  margin-top: 20px;
  background-color: white;
  box-shadow: 0 0 7px 0 #80808036;
}

.welcomeTitlesContainer {
  width: 400px;
}

.btn-outline-primary:hover {
  background-color: rgba(0, 103, 160, 0.08) !important;
}
