@use "../../../app/bootstrap-override.scss" as variables;

.loginPageContainer {
  display: flex;
  align-items: center;
  min-height: calc(100vh - 180px);
}

.loginPageContainer .login {
  width: 100%;
  padding: 5px 0px;
}

.loginForm {
  max-width: 400px;
  padding: 10px;
  margin-top: 20px;
  background-color: white;
  box-shadow: 0 0 7px 0 #80808036;
}

.welcomeTitlesContainer {
  width: 400px;
}

.title-label {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: variables.$dark-blue;
  margin: 0;
}

.btn-outline-primary:hover {
  background-color: rgba(0, 103, 160, 0.08) !important;
}
