@use "../../../app/bootstrap-override.scss" as variables;

.header {
  background-color: variables.$dark-blue;
  padding: 8px 16px !important;
}

.header-nav-buttons {
  min-width: 250px;
  display: flex;
  justify-content: flex-end;
}
