@font-face {
  font-family: 'Moderat';
  font-style: normal;
  font-weight: 700;
  src:
    url('./Moderat-Bold.woff') format('woff'),
    url('./Moderat-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Moderat';
  font-weight: 400;
  src:
    url('./Moderat-Regular.woff') format('woff'),
    url('./Moderat-Regular.woff2') format('woff2');
}
