div .card-link-custom {
  width: 280px;
  min-height: 390px;
  max-height: 530px;
  padding: 0;
  margin: 20px;
  cursor: pointer;
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}

div .card-custom {
  width: 240px;
  height: 360px;
  border: 0 !important;
}

.card-link-custom img {
  max-width: 280px;
}

.card-link-custom .card-title {
  text-transform: capitalize;
}

.card-link-custom .card-title:hover {
  text-decoration: underline;
}

.card-link-custom .image-size {
  width: 278px;
  height: 278px;
}
.card-custom .image-size {
  width: 240px;
  height: 240px;
}

.image-card-size {
  background-color: rgb(119, 119, 119);
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 93px;
}

.custom-card-body {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.card-button-shadow {
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}

.card-custom .card-about-button {
  text-decoration: none;
  margin-top: 0.5rem;
  color: #005fa3;
}

.card-about-button:hover {
  text-decoration: underline;
  cursor: pointer;
}
