div .card-custom {
  width: 280px;
  padding: 0;
  margin: 20px;
  cursor: pointer;
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}

.card-custom img {
  max-width: 280px;
}

.card-custom .card-title {
  text-transform: capitalize;
}

.card-custom .card-title:hover {
  text-decoration: underline;
}

.image-card-size {
  width: 278px;
  height: 278px;
}
