.table-override {
  line-height: 1.5;
}
.table-override img {
  max-width: 90%;
  max-height: 500px;
}

.table-override {
  text-align: center;
}

.table-override video {
  max-width: 90%;
  display: block;
}

.table-override .hljs-left {
  text-align: left;
}

.table-override .hljs-center {
  text-align: center;
}

.table-override .hljs-right {
  text-align: right;
}

.table-override code {
  color: #c0341d;
  background-color: transparent;
  border-radius: 3px;
  font-weight: 900;
  box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
}

.table-override pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f6f8fa;
  border-radius: 3px;
}

.table-override table {
  display: table;
  width: 100%;
}

.table-override * {
  box-sizing: border-box;
}

.table-override table tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}

.table-override audio {
  display: block;
}

.table-override mark {
  background-color: #ff0;
  color: #000;
  padding: 0;
}

.table-override table td,
.table-override table th {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

.table-override table tr:nth-child(2n) {
  background-color: #f6f8fa;
}
