.markdown-body {
  line-height: 1.5;
}
.markdown-body img {
  max-width: 90%;
  max-height: 500px;
}

.markdown-image {
  text-align: center;
}

.markdown-body video {
  max-width: 90%;
  display: block;
}

.markdown-body .hljs-left {
  text-align: left;
}

.markdown-body .hljs-center {
  text-align: center;
}

.markdown-body .hljs-right {
  text-align: right;
}

.markdown-body code {
  color: #c0341d;
  background-color: transparent;
  border-radius: 3px;
  font-weight: 900;
  box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
}

.markdown-body pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f6f8fa;
  border-radius: 3px;
}

.markdown-body table {
  display: table;
  width: 100%;
}

.markdown-body * {
  box-sizing: border-box;
}

.markdown-body table tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}

.markdown-body table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

.markdown-body table td,
.markdown-body table th {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

.markdown-body audio {
  display: block;
}

.markdown-body mark {
  background-color: #ff0;
  color: #000;
  padding: 0;
}
