.slider-widget {
  width: 80%;
  margin: auto;
}

.slider-widget .ticks {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.slider-widget .ticks .tick {
  height: 10px;
  width: 1px;
  background: black;
  display: flex;
  justify-content: center;
  line-height: 40px;
}

.slider-description {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

.slider-description .label,
.slider-description .label {
  text-align: center;
}

.slider-description .first {
  position: relative;
  transform: translateX(-50%);
}

.slider-description .last {
  position: relative;
  transform: translateX(50%);
}
