@use "../../../app/bootstrap-override.scss" as variables;

.system-message-box {
  height: 56px;
}

.system-message-label {
  font-size: 14px;
}

.success-message {
  color: variables.$green;
}

.failed-message {
  color: variables.$validation-red;
}
