@use "../../../app/bootstrap-override.scss" as variables;

.box-label-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 6px 0px 0px 0px;
}

.box-label-content {
  border-radius: 0.375rem;
  padding: 8px 10px;
  background-color: rgba(200, 200, 200, 0.5);

  font-size: 12px;
  font-weight: 600;
  color: variables.$dark;
}
