@font-face {
  font-family: 'Affix';
  font-style: normal;
  font-weight: 500;
  src:
    url('./Affix-Medium.woff2') format('woff2'),
    url('./Affix-Medium.otf') format('opentype');
}
@font-face {
  font-family: 'Affix';
  font-weight: 300;
  src:
    url('./Affix-Light.woff2') format('woff2'),
    url('./Affix-Light.otf') format('opentype');
}
@font-face {
  font-family: 'Affix';
  src:
    url('./Affix-MediumItalic.woff2') format('woff2'),
    url('./Affix-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Affix';
  src:
    url('./Affix-LightItalic.woff2') format('woff2'),
    url('./Affix-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}
